body {
    background: white;
    color: black;
    text-align:center;
}
#form {
#    display: inline;
#}
table { margin: auto; }

#table.dataframe, .dataframe th, .dataframe td {
#  border: none;
#  border-bottom: 1px solid #C8C8C8;
#  border-collapse: collapse;
#  text-align:center;
#  padding: 10px;
#  margin-bottom: 40px;
#  font-size: 0.9em;
#}
table {
#  border-collapse: separate;
  border-spacing: 1em 0.1em;
#  background-color: #ddd;
  text-align:center;
}
